DOCFLOW_MONGODB_URI=DOCFLOW_MONGODB_URI
DOCFLOW_MONGODB_DATABASE=DOCFLOW_MONGODB_DATABASE

DOCFLOW_S3_ENDPOINT_URL=DOCFLOW_S3_ENDPOINT_URL
DOCFLOW_S3_ACCESS_KEY_ID=DOCFLOW_S3_ACCESS_KEY_ID
DOCFLOW_S3_SECRET_ACCESS_KEY=DOCFLOW_S3_SECRET_ACCESS_KEY
DOCFLOW_S3_REGION=DOCFLOW_S3_REGION
DOCFLOW_DOCUMENT_BUCKET=DOCFLOW_DOCUMENT_BUCKET

FRONTEND_URL=FRONTEND_URL

DOCFLOW_TESSERACT_COMMAND=DOCFLOW_TESSERACT_COMMAND
DOCFLOW_OCR_PROVIDER=DOCFLOW_OCR_PROVIDER
# Keep this as one line in Docker .env files. Do not paste pretty-printed JSON.
# The private_key value should contain escaped newlines, for example \\n.
DOCFLOW_GOOGLE_APPLICATION_CREDENTIALS_JSON=
DOCFLOW_OLLAMA_BASE_URL=DOCFLOW_OLLAMA_BASE_URL
DOCFLOW_OLLAMA_MODEL=DOCFLOW_OLLAMA_MODEL
DOCFLOW_OLLAMA_TIMEOUT_SECONDS=DOCFLOW_OLLAMA_TIMEOUT_SECONDS
