DOCFLOW_MONGODB_URI=mongodb://localhost:27017
DOCFLOW_MONGODB_DATABASE=docflow

DOCFLOW_S3_ENDPOINT_URL=http://localhost:9000
DOCFLOW_S3_ACCESS_KEY_ID=minioadmin
DOCFLOW_S3_SECRET_ACCESS_KEY=minioadmin
DOCFLOW_S3_REGION=us-east-1
DOCFLOW_DOCUMENT_BUCKET=docflow-documents
